__pycache__/
dasexplorer/__pycache__
*.py[cod]
*.so
*.egg-info/
dist/
build/
dasexplorer/data/hdas25
dasexplorer/data/optasence
dasexplorer/data/optodas
dasexplorer/data/silixa
.venv/
venv/
.DS_Store
